img {
    width: 100%;
    height: auto;
}
h2#footnote-label {
    text-transform: lowercase;
}
blockquote {
    padding: 0.1rem 1rem;
    background-color: var(--accent, blue);
    margin: 0;
    border-left: 2px solid var(--accent, blue);
}
blockquote * {
    color: var(--secondaryTextColor, white);
}
pre {
    padding: 1rem 1.5rem;
    border-radius: 10px;
}
pre,
code {
    font-family: "Geist Mono Variable", monospace;
}

hr {
    border: none;
    border-bottom: var(--accent) dotted 5px;
    width: 25%;
    /*border-style: dotted;
    border-width: 3px;*/
}
