---
import HTML from "../layouts/HTML.astro";
import Link from "@components/Link.astro";
import publicKey from "../../public/pubkey-pq.txt?raw";
import Encryptor from "@components/Encryptor.astro";
---

<HTML>
    <p>contact</p>
    <p>email [ hi at thrzl dot xyz ]</p>
    <div class="mb-4">
        <p class="mb-1">age public key:{" "}</p><pre
            class="my-0 text-wrap break-words">age17kxed6vqrqpwwjcu7kt5vmzxtufm49295zczzhkr2wz96xke8vastqwsga</pre>
        <p>
            my <Link href="https://github.com/FiloSottile/age#post-quantum-keys"
                >post-quantum</Link
            > public key (preferred) can be found at <Link href="/pubkey-pq.txt"
                >pubkey-pq.txt</Link
            >
        </p>
        <p>
            you can also encrypt text to my PQ key here (requires ~30 KB of JS).
            make sure you leave me your public key too
        </p>
        <Encryptor key={publicKey.trim()} />
    </div>
</HTML>
