---
import HTML from "../layouts/HTML.astro";
---

<HTML>
    <p>thrzl</p>
    <p>
        research + development @ <a href="https://ey3.tech">ey3 technologies</a>
    </p>
    <p>
        see more of my work on <a href="https://github.com/thrzl">github</a>
    </p>
    <!-- <section class="mt-4">
            <span class="text-wrap break-words whitespace-nowrap">
                <a href="https://age-encryption.org">age public key</a>: <p
                    class="font-mono cursor-text text-size-[0.8rem] my-0"
                >
                    age17kxed6vqrqpwwjcu7kt5vmzxtufm49295zczzhkr2wz96xke8vastqwsga
                </p>
            </span>
        </section> -->
</HTML>
