---
import Link from "../components/Link.astro";
import HTML from "../layouts/HTML.astro";
import { getAlbum } from "../lib/musicData";

const album = await getAlbum();
---

<HTML>
    <p>thrzl</p>
    <p>
        research + development @ <Link href="https://ey3.tech"
            >ey3 technologies</Link
        >
    </p>
    <p>
        see more of my work on <Link href="https://github.com/thrzl"
            >github</Link
        >
    </p>
    {
        album && (
            <p>
                website colors from{" "}
                <Link href={`https://listenbrainz.org/release/${album.mbid}`}>
                    {album.title.toLocaleLowerCase()}
                </Link>{" "}
                by{" "}
                {album.artists?.map((artist) => (
                    <Link
                        href={`https://listenbrainz.org/artist/${artist.mbid}`}
                    >
                        {artist.name.toLocaleLowerCase()}
                    </Link>
                ))}
            </p>
        )
    }
    <!-- <section class="mt-4">
            <span class="text-wrap break-words whitespace-nowrap">
                <a href="https://age-encryption.org">age public key</a>: <p
                    class="font-mono cursor-text text-size-[0.8rem] my-0"
                >
                    age17kxed6vqrqpwwjcu7kt5vmzxtufm49295zczzhkr2wz96xke8vastqwsga
                </p>
            </span>
        </section> -->
</HTML>
