---
let { key } = Astro.props;
import "@fontsource-variable/geist-mono";
---

<script>
    import { armor, Encrypter } from "age-encryption";

    const form = document.getElementById("encryption-form") as HTMLFormElement;
    const input = document.getElementById("plaintext") as HTMLTextAreaElement;
    const submitButton = document.querySelector(
        "button[type='submit']",
    ) as HTMLTextAreaElement;

    let encrypted = false;
    let lastEncrypted: Uint8Array;

    async function encrypt(text: string) {
        const encryptor = new Encrypter();

        encryptor.addRecipient(form.dataset.key as string);
        return armor.encode(await encryptor.encrypt(text));
    }

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        if (encrypted) {
            navigator.clipboard.writeText(input.value);
            submitButton.innerText = "copied";
            setTimeout(() => (submitButton.innerText = "copy"), 500);
        } else {
            const encryptedOutput = await encrypt(input.value);
            input.value = encryptedOutput;
            lastEncrypted = new Uint8Array(
                await crypto.subtle.digest(
                    "SHA-256",
                    new TextEncoder().encode(encryptedOutput),
                ),
            );
            encrypted = true;
            submitButton.innerText = "copy";
        }
    });

    input.addEventListener("input", async (e) => {
        const hash = new Uint8Array(
            await crypto.subtle.digest(
                "SHA-256",
                new TextEncoder().encode(input.value),
            ),
        );
        const hashesMatch = lastEncrypted
            ? hash.every((value, i) => lastEncrypted[i] === value)
            : false;
        if (hashesMatch) {
            // if this is the last encrypted value, just return it
            submitButton.innerText = "copy";
        } else if (submitButton.innerText === "copy") {
            submitButton.innerText = "encrypt";
        }
        submitButton.disabled = input.value.length === 0;
        if (encrypted) encrypted = hashesMatch || input.value.length !== 0;
    });
</script>

<form id="encryption-form" data-key={key}>
    <textarea
        placeholder="your message here"
        required
        id="plaintext"
        class="w-full h-24 bg-dominant b-accent text-text-color b-solid b-2 rounded-sm"
    ></textarea>
    <button
        type="submit"
        class="w-full bg-dominant text-accent hover:bg-accent hover:text-secondary-text-color border-solid border-accent hover:border-accent text-[1rem] py-1 rounded-sm"
        disabled>encrypt</button
    >
</form>

<style>
    button[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
    textarea {
        font-family: "Geist Mono Variable", monospace;
    }
</style>
