---
let { key } = Astro.props;
import "@fontsource-variable/geist-mono";
---

<script>
    import { armor, Encrypter } from "age-encryption";

    const form = document.getElementById("encryption-form") as HTMLFormElement;
    const input = document.getElementById("plaintext") as HTMLTextAreaElement;
    const submitButton = document.querySelector(
        "button[type='submit']",
    ) as HTMLTextAreaElement;

    const encryptor = new Encrypter();
    encryptor.addRecipient(form.dataset.key as string);

    async function encrypt(text: string) {
        return armor.encode(await encryptor.encrypt(text));
    }

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const encryptedOutput = await encrypt(input.value);
        await navigator.clipboard.writeText(encryptedOutput);
        submitButton.innerText = "copied";
        setTimeout(() => (submitButton.innerText = "encrypt & copy"), 2500);
    });

    input.addEventListener("input", async (e) => {
        submitButton.disabled = input.value.length === 0;
        if (input.value.length > 0) submitButton.innerText = "encrypt & copy";
    });
</script>

<form id="encryption-form" data-key={key}>
    <textarea
        placeholder="your message here"
        required
        id="plaintext"
        class="w-full h-24 bg-dominant b-accent text-text-color b-solid b-2 rounded-sm"
    ></textarea>
    <button
        type="submit"
        class="w-full bg-dominant text-accent hover:bg-accent hover:text-secondary-text-color border-solid border-accent hover:border-accent text-[1rem] py-1 rounded-sm"
        disabled>encrypt & copy</button
    >
</form>

<style>
    button[disabled] {
        opacity: 0.5;
        pointer-events: none;
    }
    textarea {
        font-family: "Geist Mono Variable", monospace;
    }
</style>
