---
import Arrow from "../assets/link.svg";
const { href } = Astro.props;
let url = Astro.url.pathname;
if (url !== "/" && url.endsWith("/")) {
    url = url.slice(0, -1);
}
---

<span class="inline-flex content-center items-center cursor-pointer">
    <a {href} data-active={url === href} class="decoration-none"
        ><span class="inline underline cursor-pointer"><slot /></span>{
            href?.startsWith("http") && (
                <Arrow class="link-arrow cursor-pointer" />
            )
        }</a
    ></span
>
