---
import Arrow from "../assets/link.svg";
const { href } = Astro.props;
let url = Astro.url.pathname;
if (url !== "/" && url.endsWith("/")) {
    url = url.slice(0, -1);
}
---

<span>
    <a {href} data-active={url === href}>
        <slot />
    </a>{href?.startsWith("http") && <Arrow class="link-arrow" />}</span
>
