---
const links = {
    about: "/",
    // blog: "/blog",
    projects: "/projects",
    contact: "/contact",
    garden: "/garden",
    // work: "/work",
    // tunes: "/tunes",
};
import Link from "./Link.astro";
let url = Astro.url.pathname;
if (url !== "/") url = url.replace(/\/$/, "");
---

<div class="flex flex-row gap-2">
    {Object.entries(links).map(([name, href]) => <Link {href}>~{name}</Link>)}
</div>
