---
import HTML from "@layouts/HTML.astro";
import Link from "@components/Link.astro";
import { posts } from "@lib/garden";
---

<HTML>
    <p>blog</p>
    <p>a collection of notes. largely opinions or project logs</p>
    <div class="mb-4">
        {
            posts.map((post) => (
                <div>
                    <Link class="mb-0" href={`garden/${post.data.slug}`}>
                        {post.data.title}
                    </Link>
                    <p class="italic op-50 mt-0 px-0.5">
                        {post.data.description}
                    </p>
                </div>
            ))
        }
    </div>
</HTML>
