---
import HTML from "@layouts/HTML.astro";
import Link from "@components/Link.astro";
import { posts } from "@lib/garden";
import dayjs from "dayjs";
---

<HTML
    title="garden"
    description="a collection of notes. largely opinions or project logs"
>
    <h1 class="p-name">blog</h1>
    <p>a collection of notes. largely opinions or project logs</p>
    <div class="mb-4 h-feed">
        {
            posts.map((post) => (
                <div class="my-4 h-entry">
                    <p hidden class="p-author">
                        thrzl
                    </p>
                    <Link
                        class="mb-0 p-name u-url"
                        href={`/garden/${post.data.slug}`}
                    >
                        {post.data.title}
                    </Link>{" "}
                    <time
                        class="op-50 dt-published"
                        datetime={post.data.date.toISOString()}
                    >
                        ·{" "}
                        {dayjs(post.data.date)
                            .format("MMM DD, YYYY")
                            .toLocaleLowerCase()}
                    </time>
                    <p class="my-1 p-summary">{post.data.description}</p>
                </div>
            ))
        }
    </div>
</HTML>
